@model IEnumerable<ScopoCMS.Web.Models.Post>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>


<h1>Index</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                Author
            </th>
            <th>
              Title
            </th>
            <th>
                Date
            </th>
            <th>
                Category ID
            </th>
            <th>
                Tags
            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.publishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tags)
                </td>
                <td>
                    <img style="height:200px;width:350px;border-radius:50px;" src="@Url.Content(item.imagePath







                     )" />  @item.imagePath

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.postID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.postID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.postID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
