@model ScopoCMS.Web.Models.Post
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}

<style>
    body {
        background-color: lightgray;
    }

    @@font-face {
        src: url('../../wwwroot/css/Niladri Ratna.ttf')
    }
</style>
<div class="row">
    <div class="col-md-6 p-md-4">
        <h5 class="text-md-left">@Model.Category.Name</h5>
        <h3>@Model.Title</h3>
        <h6>@Model.Author</h6>
        <span>@Model.PublishDate</span>
    </div>
</div>


<div class="row">
    <div class="col-md-12 p-md-4 align-content-md-center">
        <img style="height:400px;width:60%" src="@Url.Content(Model.ImagePath)" alt="none" />
        <p> @Html.Raw(Model.Description)</p>
    </div>


</div>


