@model ScopoCMS.Web.Models.Post
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <!-- header -->
    <div class="containerCust">
        <div class="header">
            <div class="topHeader">
                <div class="subscribe">
                    <button id="subscribe">Subscribe</button>
                </div>
                <img id="logo" style="height: 100px; width: 100px;" src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Tesla_Motors.svg">
            </div>

        </div>
        <!-- -------------------------------------------------------------two sections--------------------------------------------------------  -->
        <div class="fullContainer">
            <div class="leftContainer">
                @if (Model != null)
                {
                    <h1>@Model.title</h1>
                    <img src=@Url.Content(Model.imagePath) alt="">
                }

            <div class="leftcontents">
                @if (Model != null)
                {
                    <div class="left_leftContent">
                        <img src="hh.jpg" alt="">
                        <p>
                            @Model.author
                            Muhammad Nadeem is the Editor at The Mountain Ink.
                        </p>

                    </div>

                }

            <div class="left_blogContent">
                @if (Model != null)
                {
                    @Html.Raw(Model.description);

                }



            </div>
            </div>

            </div>

            <div class="rightContainer">
                <h5>Popular</h5>
                <div class="popular">

                    @{ if (ViewBag.popular != null)
                        {
                            foreach (var item in ViewBag.popular)
                            {
                        <div class="popularContents">
                            <img src=@Url.Content(item.imagePath) alt="">
                            <div class="popularText">
                                <a asp-action="SeePost" asp-controller="Posts" asp-route-id="@item.postID">@item.title</a>
                            </div>
                        </div>

                                }
                            }
                        }
                </div>

            </div>
        </div>
        </div>













        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <!-- related post -->
        <div class="relatedPosts">
            <h5>Related Post</h5>
            @if (ViewBag.RelatedPosts != null)
            {
                foreach (var item in ViewBag.RelatedPosts)
                {
                <div class="relatedPost">
                    <div class="relatedpostText">
                        <span>@item.tags</span>
                        <a asp-action="SeePost" asp-controller="Posts" asp-route-id="@item.postID"><h1>@item.title </h1></a>
                        <span>
                            @item.publishDate
                            5 MINS READ
                            0 SHARES
                        </span>

                    </div>
                    <img src=@Url.Content(item.imagePath) alt="">

                </div>

                }
            }


        </div>

        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------- -->
      
    
</body>
</html>
